<main class="form-signin col-xl-3 col-lg-4 col-md-7 col-sm-10 mx-auto">
    <form>
        <div class="login-logo text-center"><a><img class="mb-4" src="/images/Logo.png" alt="Logo"></a>
        </div>
        <h1 class="form-header h3 mb-4 mt-4 text-center">Вход</h1>
        <div class="invalid-feedback text-center mb-2" id="common-error">Неверный email или пароль</div>
        <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon">
                  <i class="form-icon bi bi-envelope-open"></i>
                </span>
            <input type="text" class="form-control" placeholder="Электронная почта" aria-label="Input group example"
                   aria-describedby="basic-addon" id="email">
            <div id="email-error" class="invalid-feedback">
                Введите корректный адрес электронной почты
            </div>
        </div>
        <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="form-icon bi bi-lock"></i>
                </span>
            <input type="password" class="form-control" placeholder="Пароль" aria-label="Input group example"
                   aria-describedby="basic-addon1" id="password">
            <div id="password-error" class="invalid-feedback">
                Введите пароль
            </div>
        </div>

        <div class="form-check text-start mt-2 mb-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Запомнить меня
            </label>
        </div>
        <button class="process-button btn btn-primary w-100 py-2" type="button" id="process-button" disabled>Войти</button>
    </form>
    <p class="mt-2 mb-2">Ещё нет аккаунта? <a href="/sign-up">Пройдите регистрацию</a></p>
</main>